# -------------------------
# 1. 秘密和环境变量
# -------------------------
# ！！！绝对不要将此文件提交到版本控制中！！！
# 它包含了你的个人凭证和密钥。
.env


# -------------------------
# 2. 项目生成的缓存
# -------------------------
# 忽略用于存放生成的 .ics 文件的整个目录。
cache/
*.json
*.ics


# -------------------------
# 3. Python 运行时文件
# -------------------------
# 忽略 Python 解释器生成的缓存和字节码文件。
__pycache__/
*.pyc
*.pyo
*.pyd


# -------------------------
# 4. IDE 和编辑器配置
# -------------------------
# 忽略 Visual Studio Code 的工作区特定设置。
.vscode/


# -------------------------
# 5. 操作系统生成的文件
# -------------------------
# 忽略 macOS Finder 生成的自定义属性文件。
.DS_Store

# -------------------------
# 6. 服务器配置文件
Caddyfile
# -------------------------

# 忽略 Windows 缩略图缓存文件。
Thumbs.db